In [ ]:
-- sorok száma

select count(*) as 'Sorok'
from Termek

In [ ]:
-- listaár elemzése (min, max, átlag, szórás, variancia

SELECT MIN(LISTAAR) AS 'Minimum érték', 
       MAX(LISTAAR) AS 'Maximum érték', 
       AVG(LISTAAR) AS 'Átlag', 
       STDEV(LISTAAR) AS 'Szórás', 
       VAR(LISTAAR) AS 'Variancia'
FROM Termek
WHERE LISTAAR IS NOT NULL

In [ ]:
-- a kategóriákat 3 csoportba sorolva hány esik egy-egy csoportba

DECLARE 
@min int = 50,
@max int = 100;   

SELECT 
    SUM(CASE WHEN KAT_ID < @min THEN 1 ELSE 0 end) AS 'Sorközön alul',
    SUM(CASE WHEN KAT_ID BETWEEN @min and @max THEN 1 ELSE 0 end) AS 'Sorközön belül',
    SUM(CASE WHEN KAT_ID > @max THEN 1 ELSE 0 end) AS 'Sorközön kívül'
FROM Termek

In [ ]:
-- termékek nevének minimum, maximum, átlagos hossza, hosszúságának szórása és varianciája

SELECT MIN(LEN(MEGNEVEZES)) AS 'Minimum hosszúságú terméknév', 
       MAX(LEN(MEGNEVEZES)) AS 'Maximum hosszúságú terméknév', 
       AVG(LEN(MEGNEVEZES)) AS 'Átlagos hosszúságú terméknév', 
       STDEV(LEN(MEGNEVEZES)) AS 'Terméknév hosszúságának szórása', 
       VAR(LEN(MEGNEVEZES)) AS 'Terméknév hosszúságának varianciája'
FROM Termek
WHERE MEGNEVEZES IS NOT NULL
AND LEN(MEGNEVEZES) > 0

In [ ]:
-- top 10 leghosszabb nevű termék

SELECT TOP 10 MEGNEVEZES AS 'Megnevezés', 
        LEN(MEGNEVEZES) AS 'Megnevezés hossza'
FROM Termek
GROUP BY MEGNEVEZES
ORDER BY LEN(MEGNEVEZES) DESC

In [ ]:
-- a Felvitte oszlop distinct értékei, hol hány darab van belőle

SELECT 
    FELVITTE AS 'Felvivő neve', 
    COUNT(*) 'Hányszor vitte fel'
from Termek
WHERE FELVITTE IS NOT null
GROUP BY FELVITTE
ORDER BY FELVITTE

In [ ]:
-- a Leiras oszlop üres, null és nem null értékek darabszáma 

SELECT row_type,
    COUNT(*) row_count
FROM 
    (SELECT 
        CASE WHEN LEIRAS IS NULL THEN 'Null érték'
             WHEN LEN(LEIRAS) = 0 THEN 'Üres' 
            ELSE 'Nem null érték' 
            END AS row_type
        FROM Termek) rows
GROUP BY row_type